/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 3, ../scss/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 11, ../scss/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 16, ../scss/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 21, ../scss/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 26, ../scss/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 35, ../scss/main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 42, ../scss/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 48, ../scss/main.scss */
textarea {
  resize: vertical;
}

/* line 52, ../scss/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Gheto default settings */
/* line 67, ../scss/main.scss */
body {
  background-color: #000;
  background-image: url("../img/pf_dsotm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Merriwheather", sans-serif;
}

/* line 75, ../scss/main.scss */
a:link, a:visited {
  color: #0f77ff;
  text-decoration: none;
}

/* line 79, ../scss/main.scss */
a:hover, a:active {
  color: blue;
  text-decoration: underline;
}

/* line 84, ../scss/main.scss */
.pfquote {
  color: white;
  text-align: center;
}

/* line 88, ../scss/main.scss */
.desc {
  color: white;
  text-indent: 2em;
}

/* line 93, ../scss/main.scss */
form {
  padding: 20px;
  margin: 20px;
  background-image: url("../img/fresh_snow.png");
  border-radius: 5px;
}

/* line 100, ../scss/main.scss */
.form-auth {
  width: 220px;
}

/* line 104, ../scss/main.scss */
.form-upload-image {
  width: 300px;
}

/* line 107, ../scss/main.scss */
.form-upload-image input {
  margin: 10px;
}

/* line 111, ../scss/main.scss */
.file-success {
  padding: 5px 10px;
  margin: 20px 50px;
  background-image: url("../img/fresh_snow.png");
  opacity: 0.75;
  border-radius: 5px;
  border: 2px solid rgba(0, 255, 25, 0.75);
  width: 40%;
}

/* line 125, ../scss/main.scss */
.file-error {
  padding: 5px 10px;
  margin: 20px 50px;
  background-image: url("../img/fresh_snow.png");
  opacity: 0.75;
  border-radius: 5px;
  border: 2px solid rgba(255, 0, 0, 0.75);
  width: 40%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 159, ../scss/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 166, ../scss/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 173, ../scss/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 178, ../scss/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 189, ../scss/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 199, ../scss/main.scss */
.invisible {
  visibility: hidden;
}

/* line 203, ../scss/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 209, ../scss/main.scss */
.clearfix:after {
  clear: both;
}

/* line 213, ../scss/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 222, ../scss/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 229, ../scss/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 234, ../scss/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 238, ../scss/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 242, ../scss/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 248, ../scss/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 254, ../scss/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 258, ../scss/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 263, ../scss/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 271, ../scss/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 278, ../scss/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
