/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../tools/ruby213/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../tools/ruby213/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../tools/ruby213/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../tools/ruby213/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../tools/ruby213/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../tools/ruby213/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../tools/ruby213/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../tools/ruby213/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../tools/ruby213/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Gheto default settings */
/* line 10, ../scss/screen.scss */
body {
  background-color: #000;
  background-image: url("../img/pf_dsotm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

/* line 18, ../scss/screen.scss */
a:link, a:visited {
  color: #0f77ff;
  text-decoration: none;
}

/* line 22, ../scss/screen.scss */
a:hover, a:active {
  color: blue;
  text-decoration: underline;
}

/* line 27, ../scss/screen.scss */
.pfquote {
  color: white;
  text-align: center;
}

/* line 31, ../scss/screen.scss */
.desc {
  color: white;
  text-indent: 2em;
}

/* line 36, ../scss/screen.scss */
form {
  padding: 20px;
  margin: 20px;
  background-image: url("../img/fresh_snow.png");
  border-radius: 5px;
}

/* line 43, ../scss/screen.scss */
.form-auth {
  width: 220px;
}

/* line 47, ../scss/screen.scss */
.form-upload-image {
  width: 300px;
}

/* line 50, ../scss/screen.scss */
.form-upload-image input {
  margin: 10px;
}

/* line 54, ../scss/screen.scss */
.file-success {
  padding: 5px 10px;
  margin: 20px 50px;
  background-image: url("../img/fresh_snow.png");
  opacity: 0.75;
  border-radius: 5px;
  border: 2px solid rgba(0, 255, 25, 0.75);
  width: 40%;
}

/* line 68, ../scss/screen.scss */
.file-error {
  padding: 5px 10px;
  margin: 20px 50px;
  background-image: url("../img/fresh_snow.png");
  opacity: 0.75;
  border-radius: 5px;
  border: 2px solid rgba(255, 0, 0, 0.75);
  width: 40%;
}
