/* Gheto default settings */
body {
	background-color: #000;
	background-image: url("img/pf_dsotm.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

a:link, a:visited {
color: #0f77ff;
text-decoration: none;
}
a:hover, a:active {
color: blue;
text-decoration: underline;
}

.pfquote {
	color: white;
	text-align: center;
}
.desc {
	color: white;
	text-indent: 2em;
}

form {
	padding: 20px;
	margin : 20px;
	background-image: url("img/fresh_snow.png");
	border-radius: 5px;
}

.form-auth {
	width: 220px;
}

.form-upload-image {
	width: 300px;
}
.form-upload-image input {
	margin: 10px;
}

.file-success {
	padding: 5px 10px;
	margin : 20px 50px;
	background-image: url("img/fresh_snow.png");
	opacity: 0.75;
	border-radius: 5px;
	border: 2px solid hsla(126, 100%, 50%, 0.75);
	width: 40%;
}
.file-success p {

}


.file-error {
	padding: 5px 10px;
	margin : 20px 50px;
	background-image: url("img/fresh_snow.png");
	opacity: 0.75;
	border-radius: 5px;
	border: 2px solid hsla(360, 100%, 50%, 0.75);
	width: 40%;
}
.file-error p {

}
